/aclocal.m4
/autom4te.cache/
/.autotools
/autogen.sh
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/Makefile
/Makefile.in
/missing
/include/Makefile
/include/Makefile.in
/include/stamp-h1
/include/stamp-h2
/include/config.h
/include/config.h.in
/include/config.h~
/include/config.h.in~
/include/oblibconfig.h
/src/.deps/
/src/*.la
/src/*.lo
/src/*.o
/src/.libs/
/src/Makefile
/src/Makefile.in
/docs/
/src/instance/.deps/
/src/instance/.dirstamp
/src/instance/.libs/
/src/instance/*.lo
/src/instance/*.o
/src/lua/.deps/
/src/lua/.dirstamp
/src/lua/.libs/
/src/lua/*.lo
/src/lua/*.o
/src/type/.deps/
/src/type/.dirstamp
/src/type/.libs/
/src/type/*.lo
/src/type/*.o
.\#*
/libopenblox.pc

